In [1]:
import pandas as pd
import numpy as np
import math
import statistics

In [2]:
data = pd.read_csv("country_vaccination_stats.csv")
data

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,NaN,Sputnik V
1,Argentina,12/30/2020,15656.0,Sputnik V
2,Argentina,12/31/2020,15656.0,Sputnik V
3,Argentina,1/1/2021,11070.0,Sputnik V
4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

In [3]:
unique_countries = data["country"].unique()
unique_countries

data.loc[data["country"] == "Argentina"]

      country        date  daily_vaccinations   vaccines
0   Argentina  12/29/2020                 NaN  Sputnik V
1   Argentina  12/30/2020             15656.0  Sputnik V
2   Argentina  12/31/2020             15656.0  Sputnik V
3   Argentina    1/1/2021             11070.0  Sputnik V
4   Argentina    1/2/2021              8776.0  Sputnik V
5   Argentina    1/3/2021              7400.0  Sputnik V
6   Argentina    1/4/2021              6483.0  Sputnik V
7   Argentina    1/5/2021              7984.0  Sputnik V
8   Argentina    1/6/2021              8173.0  Sputnik V
9   Argentina    1/7/2021              8363.0  Sputnik V
10  Argentina    1/8/2021             10519.0  Sputnik V
11  Argentina    1/9/2021             11942.0  Sputnik V
12  Argentina   1/10/2021             13365.0  Sputnik V
13  Argentina   1/11/2021             14788.0  Sputnik V
14  Argentina   1/12/2021             14056.0  Sputnik V
15  Argentina   1/13/2021             13323.0  Sputnik V
16  Argentina   1/14/2021             13320.0  Sputnik V
17  Argentina   1/15/2021             13317.0  Sputnik V
18  Argentina   1/16/2021             12971.0  Sputnik V
19  Argentina   1/17/2021             12624.0  Sputnik V
20  Argentina   1/18/2021             12278.0  Sputnik V
21  Argentina   1/19/2021             11932.0  Sputnik V
22  Argentina   1/20/2021             11586.0  Sputnik V
23  Argentina   1/21/2021             11704.0  Sputnik V
24  Argentina   1/22/2021             11263.0  Sputnik V
25  Argentina   1/23/2021             11124.0  Sputnik V
26  Argentina   1/24/2021             10342.0  Sputnik V
27  Argentina   1/25/2021              9046.0  Sputnik V

In [4]:
#df.daily_vaccinations.fillna(df.Farheit, inplace=True)

#pd.Index(data.loc[data["country"] == "Argentina"])

In [5]:
# to try it first time

df = data["daily_vaccinations"].groupby(data["country"]).unique()
df["Argentina"] = np.nan_to_num(df["Argentina"], nan = np.nanmin(df["Argentina"]))
df["Argentina"]

array([ 6483., 15656., 11070.,  8776.,  7400.,  6483.,  7984.,  8173.,
        8363., 10519., 11942., 13365., 14788., 14056., 13323., 13320.,
       13317., 12971., 12624., 12278., 11932., 11586., 11704., 11263.,
       11124., 10342.,  9046.])

In [6]:
df = data["daily_vaccinations"].groupby(data["country"]).unique()

for i in range(0,data["country"].nunique()):
    if len(df[i])>1:
        df[i] = np.nan_to_num(df[i], nan = np.nanmin(df[i]))
    else:
        df[i] = np.nan_to_num(df[i], nan = 0)

df

country
Argentina               [6483.0, 15656.0, 11070.0, 8776.0, 7400.0, 648...
Austria                 [3368.0, 3368.0, 7263.0, 5791.0, 4705.0, 5031....
Bahrain                 [943.0, 11106.0, 5789.0, 4197.0, 3662.0, 3210....
Belgium                 [1.0, 1.0, 234.0, 159.0, 122.0, 97.0, 81.0, 70...
Brazil                  [112.0, 112.0, 554.0, 3823.0, 7136.0, 27304.0,...
Bulgaria                [472.0, 2889.0, 1477.0, 1007.0, 799.0, 675.0, ...
Canada                  [866.0, 866.0, 1693.0, 2301.0, 2580.0, 2319.0,...
Chile                   [51.0, 4771.0, 3958.0, 2742.0, 2069.0, 1665.0,...
China                   [187500.0, 187500.0, 232143.0, 276786.0, 32142...
Costa Rica              [240.0, 240.0, 414.0, 588.0, 763.0, 937.0, 111...
Croatia                 [989.0, 1105.0, 1036.0, 989.0, 1334.0, 1662.0,...
Cyprus                  [534.0, 534.0, 594.0, 635.0, 664.0, 708.0, 751...
Czechia                 [1822.0, 2229.0, 2798.0, 3010.0, 2583.0, 2119....
Denmark                 [1994.0, 1994.0, 5527.0, 7525.0, 7223.0, 6254....
Ecuador                                                    [108.0, 108.0]
England                 [37625.0, 37625.0, 39253.0, 40882.0, 42511.0, ...
Estonia                 [309.0, 309.0, 338.0, 567.0, 570.0, 459.0, 385...
Finland                 [459.0, 459.0, 736.0, 839.0, 913.0, 1273.0, 13...
France                  [5000.0, 5000.0, 8500.0, 14667.0, 20000.0, 188...
Germany                 [19721.0, 19721.0, 31436.0, 40119.0, 39570.0, ...
Gibraltar               [520.0, 1025.0, 1040.0, 986.0, 959.0, 943.0, 9...
Greece                  [549.0, 670.0, 662.0, 642.0, 551.0, 549.0, 576...
Hungary                 [1339.0, 1367.0, 1348.0, 1339.0, 1578.0, 1722....
Iceland                 [63.0, 63.0, 312.0, 560.0, 809.0, 1057.0, 1306.0]
India                   [112150.0, 191181.0, 112150.0, 151350.0, 16870...
Indonesia                   [11823.0, 13200.0, 12546.0, 11892.0, 11823.0]
Ireland                 [550.0, 550.0, 1194.0, 1624.0, 1931.0, 3028.0,...
Isle of Man                             [90.0, 90.0, 138.0, 155.0, 163.0]
Israel                  [6887.0, 6887.0, 14690.0, 23477.0, 32331.0, 39...
Italy                   [926.0, 950.0, 926.0, 2147.0, 7848.0, 8456.0, ...
Kuwait                                                              [0.0]
Latvia                  [338.0, 877.0, 832.0, 602.0, 486.0, 417.0, 371...
Lithuania               [311.0, 1208.0, 1734.0, 2047.0, 1944.0, 1624.0...
Luxembourg              [62.0, 62.0, 114.0, 177.0, 220.0, 236.0, 252.0...
Malta                   [259.0, 259.0, 281.0, 304.0, 327.0, 350.0, 373...
Mexico                  [1300.0, 1300.0, 1664.0, 3121.0, 3679.0, 3695....
Netherlands             [4000.0, 9000.0, 10500.0, 8000.0, 7000.0, 5900...
Northern Ireland        [1563.0, 1778.0, 1829.0, 1880.0, 1931.0, 1982....
Norway                  [224.0, 600.0, 834.0, 697.0, 540.0, 434.0, 361...
Oman                    [817.0, 1646.0, 1663.0, 1600.0, 1289.0, 1103.0...
Panama                         [6.0, 6.0, 1364.0, 1694.0, 1398.0, 1284.0]
Poland                  [4300.0, 4300.0, 17150.0, 15200.0, 11749.0, 96...
Portugal                [2791.0, 2791.0, 7702.0, 8527.0, 6946.0, 5557....
Romania                 [712.0, 712.0, 1800.0, 2741.0, 2398.0, 2235.0,...
Russia                  [3357.0, 3357.0, 12592.0, 21827.0, 31061.0, 40...
Saudi Arabia            [14153.0, 37862.0, 23990.0, 19366.0, 17055.0, ...
Scotland                [3047.0, 5821.0, 5690.0, 5558.0, 5426.0, 5295....
Serbia                  [1150.0, 1150.0, 1503.0, 1680.0, 1785.0, 1856....
Seychelles              [500.0, 500.0, 600.0, 667.0, 1000.0, 1118.0, 1...
Singapore               [2800.0, 2800.0, 4090.0, 4520.0, 4735.0, 4864....
Slovakia                [425.0, 425.0, 3309.0, 4544.0, 5137.0, 4456.0,...
Slovenia                [1270.0, 1270.0, 1484.0, 2110.0, 2601.0, 2718....
Spain                   [41496.0, 56505.0, 45248.0, 41496.0, 48786.0, ...
Sweden                  [3859.0, 3859.0, 4294.0, 4729.0, 5165.0, 5600....
Switzerland             [3000.0, 3000.0, 3829.0, 4657.0, 5486.0, 6314....
Turkey                  [67192.0, 279452.0, 308326.0, 225634.0, 176613...
United Arab Emirates    [30698.0, 30698.0, 38418.0, 48512.0, 52053.0, ...
United Kingdom          [46423.0, 46423.0, 47738.0, 49053.0, 50369.0, ...
United States           [57909.0, 57909.0, 127432.0, 150606.0, 191001....
Wales                   [1763.0, 2198.0, 2136.0, 2074.0, 2012.0, 1950....
Name: daily_vaccinations, dtype: object

In [7]:
w = 0 
a = []
a = data[data["daily_vaccinations"].isnull()].index.tolist()

a[w]

0

In [8]:

for i in data["country"].unique():
    if (len(data.loc[data["country"] == i,"daily_vaccinations"])>1): 
        data["daily_vaccinations"][a[w]] = np.nanmin(data.loc[data["country"] == i,"daily_vaccinations"])
    else:
        data["daily_vaccinations"][a[w]] = np.nan_to_num(data["daily_vaccinations"][a[w]], nan = 0)
    w = w + 1
w = 0

<ipython-input-8-18acf1eddffd>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["daily_vaccinations"][a[w]] = np.nanmin(data.loc[data["country"] == i,"daily_vaccinations"])
<ipython-input-8-18acf1eddffd>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["daily_vaccinations"][a[w]] = np.nan_to_num(data["daily_vaccinations"][a[w]], nan = 0)

In [9]:
data

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,6483.0,Sputnik V
1,Argentina,12/30/2020,15656.0,Sputnik V
2,Argentina,12/31/2020,15656.0,Sputnik V
3,Argentina,1/1/2021,11070.0,Sputnik V
4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

In [10]:
#data.loc[data["country"] == "Argentina","daily_vaccinations"][0] = np.nan_to_num(data.loc[data["country"] == "Argentina","daily_vaccinations"][0],np.nanmin(data.loc[data["country"] == "Argentina","daily_vaccinations"]))

In [11]:
#data["daily_vaccinations"][0] =  np.nanmin(data.loc[data["country"] == "Argentina","daily_vaccinations"])
#data.loc[data["country"] == "Turkey","daily_vaccinations"][1355]

In [12]:
#data.fillna(df.groupby("daily_vaccinations").transform("min"), inplace = True)

In [13]:
## Q5

listing = []
for i in data["country"].unique():
    listing.append(statistics.median(data.loc[data["country"] == i,"daily_vaccinations"]))

listing

[11645.0,
 7850.0,
 3662.0,
 3606.0,
 17220.0,
 1010.0,
 11044.0,
 1291.0,
 276786.0,
 675.5,
 2485.0,
 708.0,
 5378.0,
 7095.5,
 108.0,
 107310.5,
 1043.0,
 2035.5,
 41496.0,
 51184.0,
 713.0,
 5290.0,
 5464.5,
 63.0,
 173922.0,
 13200.0,
 6528.0,
 138.0,
 92587.0,
 44475.5,
 0.0,
 592.0,
 1933.5,
 88.0,
 407.5,
 5488.0,
 6762.0,
 2135.0,
 2958.0,
 1192.0,
 1324.0,
 22702.5,
 5944.0,
 13030.0,
 23563.0,
 16807.5,
 5821.0,
 2920.0,
 1000.0,
 4907.0,
 5357.0,
 2374.0,
 55238.0,
 5382.5,
 3000.0,
 150356.0,
 86430.0,
 120409.0,
 378253.0,
 2198.0]

In [14]:
top_3_median_list = []
new_list = listing.copy()

for i in range(0,3):
    top_3_median_list.append([max(listing),data["country"].unique()[new_list.index(max(listing))]])
    listing.pop(np.argmax(listing))

In [15]:
top_3_median_list

[[378253.0, 'United States'], [276786.0, 'China'], [173922.0, 'India']]

In [16]:
sum(data.loc[data["date"] == "1/6/2021","daily_vaccinations"])

1485255.0